extends layout

block content
    h1= title
    p Welcome to Songflow
  
    //Wrapper
    #wrapper
    
        //User list
        h2 User List
        #user-list
            table
                thead
                    th Username
                    th Email
                    th Delete?
                tbody
        // /User List
    // /Wrapper 
    
